{
    "UseExportNewlines": true,
    "SINGULAR_PLURAL_FIELDS_LONG": {
        "sourceAchievement": "sourceAchievements",
        "sourceQuest": "sourceQuests",
        "altQuestID": "altQuests",
        "qg": "qgs",
        "cr": "crs"
    },
    "NON_SORTED_FIELDS": [
        "crs",
        "qgs",
        "difficulties",
        "zone-text-areas"
    ],
    "PASS_THRU_FIELDS": [
        "maps_disp",
        "fillAdjust"
    ],
    "PROVIDER_TYPES": [
        "i",
        "n",
        "o",
        "s",
    ],
    "SOURCED": [
        "achID",
        "creatureID",
        "currencyID",
        "explorationID",
        "factionID",
        "flightpathID",
        "followerID",
        "headerID",
        "itemID",
        "mapID",
        "missionID",
        "mountID",
        "npcID",
        "objectID",
        "questID",
        "recipeID",
        "speciesID",
        "spellID",
        "sourceID"
    ]
}
