{
    "root-addon": "../..",
    "root-data": "./DATAS",
    "db-relative": ".beta/",
    "wago-directories": [
		"../.wago/PTR",
	],
    "DataPhase": "MID",
    "DataPatch": [
        12,
        0,
        0,
        99999
    ],
    "PreProcessorTags" : [
        "RETAIL",
		"EXPLORATION",
		"COMMON_QUALITY_TRANSMOGS",
    ]
}