{
    "DebugDB": [
        "achID",
        "campsiteID",
        "decorID",
        "explorationID",
        "factionID",
        "flightpathID",
        "followerID",
        "illusionID",
        "mountID",
        "speciesID",
        "questID",
        "recipeID",
        "titleID",
        "toyID",
        "sourceID",
        "itemID",
    ],
    "TrackUseCounts": [
        "questID",
        "sourceID",
        "explorationID",
        "criteriaID",
    ],
    "PreProcessorTags": [
        "RETAIL",
        "DEBUG",
		"EXPLORATION",
		"COMMON_QUALITY_TRANSMOGS",
		"RETAIL_STYLE_FILL_ENABLED",
    ],
}
